<a href="https://colab.research.google.com/github/leandroguarato/testes/blob/master/BBAS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/leandroguarato/testes/master/BBAS3.SA.csv?token=APMGMN4SHYZICDOT2XB4ZTC65JSQ4')

In [4]:

df.shape

(249, 7)

In [8]:
df.shape[0]

249

In [7]:
df.shape[1]

7

In [27]:
df.describe()

             Open        High         Low       Close   Adj Close        Volume
count  248.000000  248.000000  248.000000  248.000000  248.000000  2.480000e+02
mean    43.504960   44.156331   42.707379   43.392056   42.516743  1.573820e+07
std      8.990567    8.841689    9.149571    9.022591    8.488707  8.777691e+06
min     24.200001   25.000000   21.910000   22.129999   22.129999  5.092200e+06
25%     35.750000   36.710001   34.117499   35.135001   35.135001  9.471175e+06
50%     46.975001   47.575001   46.364999   47.145000   45.940462  1.318505e+07
75%     49.732499   50.322501   49.009999   49.554999   48.498098  1.984348e+07
max     55.599998   55.700001   54.820000   55.180000   53.052986  7.397800e+07

In [11]:
round(df.Open.mean(),2)

43.5

In [12]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [28]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       249 non-null    object
 1   Open       248 non-null    float64
 2   High       248 non-null    float64
 3   Low        248 non-null    float64
 4   Close      248 non-null    float64
 5   Adj Close  248 non-null    float64
 6   Volume     248 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

In [30]:
df.Date

0      2019-06-17
1      2019-06-18
2      2019-06-19
3      2019-06-21
4      2019-06-24
          ...
244    2020-06-10
245    2020-06-12
246    2020-06-15
247    2020-06-16
248    2020-06-17
Name: Date, Length: 249, dtype: object

In [31]:
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       249 non-null    datetime64[ns]
 1   Open       248 non-null    float64
 2   High       248 non-null    float64
 3   Low        248 non-null    float64
 4   Close      248 non-null    float64
 5   Adj Close  248 non-null    float64
 6   Volume     248 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 13.7 KB

In [36]:
df.Date

0     2019-06-17
1     2019-06-18
2     2019-06-19
3     2019-06-21
4     2019-06-24
         ...
244   2020-06-10
245   2020-06-12
246   2020-06-15
247   2020-06-16
248   2020-06-17
Name: Date, Length: 249, dtype: datetime64[ns]

In [37]:
df.Date.dt.month

0      6
1      6
2      6
3      6
4      6
      ..
244    6
245    6
246    6
247    6
248    6
Name: Date, Length: 249, dtype: int64

In [40]:
df.Date.dt.year

ValueError: ignored