<a href="https://colab.research.google.com/github/leandroguarato/testes/blob/master/Lista_de_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Data Science na Prática 2.0**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

# Lista de Exercícios

A lista de exercícios tem por objetivo colocar a mão na massa e relembrar os conceitos que foram passados nas aulas anteriores.

Optei por não necessariamente seguir a sequencia das aulas, colocando os exercícios

## Exercício 1

* Importar o pacote Pandas
* importar os dados de ocorrências da aviação civil neste link
* Ver qual o tamanho (linhas x colunas) do *DataFrame*
* Verificar as 5 primeiras

**Importe o Pandas e importe os dados de ocorrências da aviação civil que se encontram em `csv` [neste link](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv).**

In [45]:
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv')
dataset.shape

(5208, 22)

In [46]:
dataset.head()

   codigo_ocorrencia  ... ocorrencia_dia_extracao
0    201305055424986  ...              2018-08-28
1    201605160250139  ...              2018-08-28
2    201805021421302  ...              2018-08-28
3    201311259977425  ...              2018-08-28
4    201103187273112  ...              2018-08-28

[5 rows x 22 columns]

In [38]:
#@title
# importar pandas
import pandas as pd

# importar dados
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv")

**Veja qual o tamanho (linhas e colunas) do conjunto de dados importado.**

In [5]:
dataset.shape

(5208, 22)

In [6]:
#@title
df.shape

(5208, 22)

**Identifique o tipo de cada coluna (inteiro, float, object).**

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               5208 non-null   int64
 1   ocorrencia_classificacao        5208 non-null   object
 2   ocorrencia_tipo                 5208 non-null   object
 3   ocorrencia_tipo_categoria       5208 non-null   object
 4   ocorrencia_tipo_icao            5208 non-null   object
 5   ocorrencia_latitude             5208 non-null   float64
 6   ocorrencia_longitude            5208 non-null   float64
 7   ocorrencia_cidade               5208 non-null   object
 8   ocorrencia_uf                   5208 non-null   object
 9   ocorrencia_pais                 5208 non-null   object
 10  ocorrencia_aerodromo            5208 non-null   object
 11  ocorrencia_dia                  5208 non-null   object
 12  ocorrencia_horario              5208 non-null   object
 13  investigacao_aeronave_liberada  1110 non-null   object
 14  investigacao_status             5208 non-null   object
 15  divulgacao_relatorio_numero     5208 non-null   object
 16  divulgacao_relatorio_publicado  5208 non-null   object
 17  divulgacao_dia_publicacao       1261 non-null   object
 18  total_recomendacoes             5208 non-null   int64
 19  total_aeronaves_envolvidas      5208 non-null   int64
 20  ocorrencia_saida_pista          5208 non-null   object
 21  ocorrencia_dia_extracao         5208 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 895.2+ KB

In [ ]:
#@title
df.dtypes

**Veja as 3 primeiras entradas do conjunto de dados.**

In [10]:
dataset.head(3)

   codigo_ocorrencia  ... ocorrencia_dia_extracao
0    201305055424986  ...              2018-08-28
1    201605160250139  ...              2018-08-28
2    201805021421302  ...              2018-08-28

[3 rows x 22 columns]

In [47]:
#@title
df.head(3)

   codigo_ocorrencia  ... ocorrencia_dia_extracao
0    201305055424986  ...              2018-08-28
1    201605160250139  ...              2018-08-28
2    201805021421302  ...              2018-08-28

[3 rows x 22 columns]

**Veja quantos valores únicos existem para a coluna `ocorrencia_classificacao`**

In [12]:
dataset.ocorrencia_classificacao.unique()

array(['ACIDENTE', 'INCIDENTE GRAVE', 'INCIDENTE'], dtype=object)

In [39]:
#@title
df.ocorrencia_classificacao.unique()

array(['ACIDENTE', 'INCIDENTE GRAVE', 'INCIDENTE'], dtype=object)

**Descubra qual Estado possui o maior número de ocorrências com aeronaves civis.**

In [40]:
dataset.ocorrencia_uf.value_counts()

SP     1207
RJ      498
MG      476
PR      437
RS      350
GO      268
PA      255
MT      244
AM      219
BA      208
SC      160
DF      151
MS      132
PE       88
CE       75
ES       66
MA       63
TO       54
AC       53
RR       50
PI       39
RO       30
PB       20
SE       18
AL       16
RN       15
AP       13
***       3
Name: ocorrencia_uf, dtype: int64

In [48]:
#@title
# a resposta é SP, com 1.207 ocorrências
df.ocorrencia_uf.value_counts()

SP     1207
RJ      498
MG      476
PR      437
RS      350
GO      268
PA      255
MT      244
AM      219
BA      208
SC      160
DF      151
MS      132
PE       88
CE       75
ES       66
MA       63
TO       54
AC       53
RR       50
PI       39
RO       30
PB       20
SE       18
AL       16
RN       15
AP       13
***       3
Name: ocorrencia_uf, dtype: int64

**Quantos por cento das ocorrências são do tipo `FALHA DO MOTOR EM VOO`?**

In [49]:
dataset.loc[dataset.ocorrencia_tipo == 'FALH'].ocorrencia_tipo.value_counts(' ')

FALHA DO MOTOR EM VOO                                  0.130952
ESTOURO DE PNEU                                        0.115975
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     0.110215
PERDA DE CONTROLE NO SOLO                              0.094470
OUTROS                                                 0.067204
                                                         ...
CAUSADO POR RICOCHETE                                  0.000192
CORTANTE DE VENTO / TEMPESTADE                         0.000192
PERDA DA CONSCIÊNCIA                                   0.000192
ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO            0.000192
MANOBRA ABRUPTA                                        0.000192
Name: ocorrencia_tipo, Length: 63, dtype: float64

In [18]:
#@title
df.loc[df.ocorrencia_tipo == "FALHA DO MOTOR EM VOO"].shape[0] / df.shape[0]

0.13095238095238096

## Exercício 2

Você irá trabalhar agora com os dados da ação BBAS3, do Banco do Brasil na BOVESPA.

Na variável `df_bbas3`, foi importado [este arquivo `csv`](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv), onde o *index* do *DataFrame* representa os valores da ação para determinado dia. Responda as perguntas abaixo.

In [ ]:
# importar pandas
import pandas as pd

# importar o csv com dados da BBAS3
df_bbas3 = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv",
                       index_col="Date")

**Veja as 5 primeiras entradas da variável `df_bbas3`.**

In [ ]:
#@title
df_bbas3.head()

**Quais são os valores da ação para o dia 04 de outubro de 2018?**

In [ ]:
#@title
df_bbas3.loc["2018-10-04"]

**Qual a média do Volume financeiro movimentado em todo o período?**

In [ ]:
#@title
df_bbas3.Volume.mean()

## Exercício 3

Você irá trabalhar agora com os dados do projeto +BIKE, usado em aulas passadas.

Na variável df_bike, foi importado [este arquivo csv](http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv).

In [ ]:
# importar pandas
import pandas as pd

# importar o csv com dados da BBAS3
df_bike = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")

# ver as primeiras entradas
df_bike.head()

**Qual a porcentagem de valores ausentes para a coluna `user_gender`?**

In [ ]:
#@title
df_bike.user_gender.isnull().sum() / df_bike.shape[0]

**Preencha a coluna `user_gender` com o valor mais frequente.**

In [ ]:
#@title
# ver o valor mais frequente
print(df.user_gender.value_counts())

# preencher os valores ausentes de user_gender com 'M'
df.user_gender.fillna('M', inplace=True)

**Plote u boxplot para a coluna `ride_duration`.**

In [ ]:
#@title
df_bike.ride_duration.plot(kind="box")